table{
    border: solid black 1px;
}

table tr{
    border: solid black 1px;
   
}

table td{
    border: solid black 1px;
    width: 70px;
    height: 70px;
    font-size: 40px;
    
}

.negras{
    border: solid black 1px;
    background-color: darkgray;
    width: 70px;
    height: 70px;
    font-size: 40px;
    
}

.blancas{
    border: solid black 1px;
    background-color: white;
    width: 70px;
    height: 70px;
    font-size: 40px;
    
}